.error-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-svg {
    color: #572327;
    font-size: 5rem;
}

.error-p {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}