.header-container {
    width: 100%;
    margin: 0 auto;
    background-color: #572327;
    height: 8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lexend Tera', sans-serif;
}

.hamburger {
    display: none;
}

.nav-bar-list {
    display: flex;
    gap: 0.5em;
    padding-left: 0;
}

.nav-bar-link {
    display: block;
    color: #f7fcfb;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    padding: 0.6em 1.75em;
    margin-bottom: 0;
}

.nav-bar-cart-widget-link {
    font-size: 1rem;
}

.nav-bar-item {
    list-style: none;
}

.nav-bar-item+.nav-bar-item {
    margin-top: 0.1em;
}



.nav-bar-link:focus {
    color: #f7fcfb;
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger .line {
        width: 1.5em;
        height: 1px;
        background-color: #0D1C1A;
        margin: 4px 0;
    }

    .nav-bar {
        position: absolute;
        top: 5em;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0em;
        background-color: #f7fcfb;
        transition: 0.5s;
        overflow: hidden;
        z-index: 999;
    }

    .nav-bar.visible {
        height: 15em;
        width: 100vw;
        margin: 0 auto;
    }

    .nav-bar.visible .nav-bar-list {
        opacity: 1;
    }

    .nav-bar-list {
        display: block;
        width: fit-content;
        margin: 2em auto 2.5em;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar-link {
        margin-bottom: 0.5em;
        padding: 0.6em 0.9em;
    }

    .hidden {
        display: hidden;
    }

    .visible {
        display: inherit;
        background-color: #F3FFFC;
        box-shadow: 0 2px 10px -6px #B9DFD1;
    }


}

.logo a {
    font-family: 'IM Fell English SC', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 0.18rem;
    color: #ffffff;
    padding-left: 1rem;
    text-decoration: none;
}

